body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: rgb(52, 85, 114);
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
  
fieldset:last-of-type {
    border-bottom: none;
}

/* Inputs with label effects */

.col {
    /* float: left; */
    width: 100%;
    margin: auto 0;
    position: relative;
  }

:focus {
    outline: none;
}
.inputs {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.inputs ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}
.inputs:focus ~ .focus-border,
.has-content.inputs ~ .focus-border {
    width: 100%; 
    transition: 0.4s; left: 0;
}
.inputs ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}
.inputs:focus ~ label, .has-content.inputs ~ label {
    top: -12px;
    font-size: 12px;
    color: #d67433;
    transition: 0.3s;
}
